openapi: 3.1.0
info:
  title: China Securities Data Proxy
  description: >-
    REST API-обёртка над AKShare для доступа к финансовой отчётности,
    дивидендам, дневным котировкам и валютным курсам China A-share (SSE/SZSE)
    и Hong Kong (HKEX) тикеров.
  version: 1.0.0
servers:
  - url: https://china.paveln8n.cloud
paths:
  /health:
    get:
      operationId: getHealth
      summary: Проверка живости сервиса
      responses:
        "200":
          description: Сервис работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /auth_check:
    get:
      operationId: getAuthCheck
      summary: >-
        Диагностика авторизации: дошёл ли заголовок Authorization и совпадает
        ли токен. Секрет не раскрывает. Вызывать только по прямой просьбе.
      responses:
        "200":
          description: Состояние авторизации текущего запроса
          content:
            application/json:
              schema:
                type: object
                properties:
                  header_received:
                    type: boolean
                    description: Дошёл ли заголовок Authorization вообще
                  scheme:
                    type: string
                    description: Схема авторизации, ожидается Bearer
                  token_length:
                    type: integer
                  token_fingerprint:
                    type: string
                    description: Первые 8 символов sha256 предъявленного токена
                  has_surrounding_whitespace:
                    type: boolean
                  match:
                    type: boolean
                    description: Совпал ли токен с ключом на сервере
                  server_key_configured:
                    type: boolean
                  hint:
                    type: string
                    description: Человекочитаемый вывод — процитируй его дословно
  /date:
    get:
      operationId: getServerDate
      summary: >-
        Сегодняшняя дата по часам сервера. Вызывай её перед любым разбором
        актуальности данных: собственная дата модели ненадёжна, и без этого
        прогнозы на уже прошедшие годы можно принять за актуальные.
      responses:
        "200":
          description: Текущая дата и время сервера (UTC)
          content:
            application/json:
              schema:
                type: object
                properties:
                  today:
                    type: string
                    description: Дата в формате YYYY-MM-DD
                  year:
                    type: integer
                  datetime_utc:
                    type: string
  /income:
    get:
      operationId: getIncomeStatement
      summary: Отчёт о прибылях и убытках A-share тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: periods
          in: query
          required: false
          description: >-
            Сколько последних отчётных периодов вернуть (по умолчанию 8).
            Полная история эмитента не помещается в лимит ответа Action,
            поэтому выдача обрезается с конца — самые свежие периоды всегда
            попадают в ответ. Увеличивай только если действительно нужны
            более старые периоды.
          schema:
            type: integer
            default: 8
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  periods_returned:
                    type: integer
                    description: Сколько отчётных периодов фактически вернулось
                  periods_available:
                    type: integer
                    description: >-
                      Сколько всего периодов есть у источника. Если больше
                      periods_returned, выдача урезана — скажи об этом
                      пользователю, а не выдавай её за всю историю.
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /balancesheet:
    get:
      operationId: getBalanceSheet
      summary: Баланс A-share тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: periods
          in: query
          required: false
          description: >-
            Сколько последних отчётных периодов вернуть (по умолчанию 8).
            Полная история эмитента не помещается в лимит ответа Action,
            поэтому выдача обрезается с конца — самые свежие периоды всегда
            попадают в ответ. Увеличивай только если действительно нужны
            более старые периоды.
          schema:
            type: integer
            default: 8
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  periods_returned:
                    type: integer
                    description: Сколько отчётных периодов фактически вернулось
                  periods_available:
                    type: integer
                    description: >-
                      Сколько всего периодов есть у источника. Если больше
                      periods_returned, выдача урезана — скажи об этом
                      пользователю, а не выдавай её за всю историю.
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /cashflow:
    get:
      operationId: getCashFlow
      summary: Отчёт о движении денежных средств A-share тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: periods
          in: query
          required: false
          description: >-
            Сколько последних отчётных периодов вернуть (по умолчанию 8).
            Полная история эмитента не помещается в лимит ответа Action,
            поэтому выдача обрезается с конца — самые свежие периоды всегда
            попадают в ответ. Увеличивай только если действительно нужны
            более старые периоды.
          schema:
            type: integer
            default: 8
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  periods_returned:
                    type: integer
                    description: Сколько отчётных периодов фактически вернулось
                  periods_available:
                    type: integer
                    description: >-
                      Сколько всего периодов есть у источника. Если больше
                      periods_returned, выдача урезана — скажи об этом
                      пользователю, а не выдавай её за всю историю.
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /dividend:
    get:
      operationId: getDividendHistory
      summary: История дивидендов A-share тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /daily:
    get:
      operationId: getDailyQuotesAShare
      summary: Дневные котировки A-share тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          description: Дата начала периода в формате YYYY-MM-DD
          schema:
            type: string
        - name: end_date
          in: query
          required: true
          description: Дата конца периода в формате YYYY-MM-DD
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /hk_daily:
    get:
      operationId: getDailyQuotesHK
      summary: >-
        Дневные котировки HK тикера (формат тикера без суффикса .HK, напр.
        "00267"). Для периодов от ~2 лет и больше используйте interval=weekly
        или monthly/yearly — daily-ответ на несколько лет может быть очень
        большим и медленным.
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          description: Дата начала периода в формате YYYY-MM-DD
          schema:
            type: string
        - name: end_date
          in: query
          required: true
          description: Дата конца периода в формате YYYY-MM-DD
          schema:
            type: string
        - name: interval
          in: query
          required: false
          description: >-
            Агрегация OHLCV: "daily" (по умолчанию, вся история по дням —
            для многолетних периодов ответ большой), "weekly", "monthly"
            или "yearly" (одна строка на период: open первого дня, high/low
            экстремумы, close последнего дня, volume/amount — сумма).
          schema:
            type: string
            default: daily
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /hk_financial:
    get:
      operationId: getFinancialsHK
      summary: Финансовые показатели HK тикера
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
        - name: periods
          in: query
          required: false
          description: >-
            Сколько последних отчётных периодов вернуть (по умолчанию 8).
            Полная история эмитента не помещается в лимит ответа Action,
            поэтому выдача обрезается с конца — самые свежие периоды всегда
            попадают в ответ. Увеличивай только если действительно нужны
            более старые периоды.
          schema:
            type: integer
            default: 8
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  periods_returned:
                    type: integer
                    description: Сколько отчётных периодов фактически вернулось
                  periods_available:
                    type: integer
                    description: >-
                      Сколько всего периодов есть у источника. Если больше
                      periods_returned, выдача урезана — скажи об этом
                      пользователю, а не выдавай её за всю историю.
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /fx:
    get:
      operationId: getFxRateHistory
      summary: История официальной котировки Банка Китая для валюты к CNY
      parameters:
        - name: currency
          in: query
          required: false
          description: >-
            Китайское название валюты, напр. "港币" (HKD), "美元" (USD),
            "欧元" (EUR). По умолчанию "港币".
          schema:
            type: string
            default: 港币
        - name: start_date
          in: query
          required: true
          description: Дата начала периода в формате YYYY-MM-DD
          schema:
            type: string
        - name: end_date
          in: query
          required: true
          description: Дата конца периода в формате YYYY-MM-DD
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /fx_cny_hkd_on_date:
    get:
      operationId: getFxRateCnyHkdOnDate
      summary: >-
        Официальная котировка Банка Китая (BOC) CNY/HKD на конкретную дату
        (прямая котировка, не кросс-расчёт)
      parameters:
        - name: date
          in: query
          required: true
          description: Дата в формате YYYY-MM-DD
          schema:
            type: string
      responses:
        "200":
          description: Котировка на дату вместе с указанием источника и методологии
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
                  source:
                    type: string
                  methodology:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /stock_basic:
    get:
      operationId: getStockBasicInfo
      summary: Базовая информация о тикере (A-share)
      parameters:
        - name: ts_code
          in: query
          required: true
          description: Тикер (суффиксы .SH/.SZ/.HK будут очищены автоматически)
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ с данными или пустым результатом
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  note:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /forecast/em/{symbol}:
    get:
      operationId: getForecastEastmoney
      summary: >-
        Консенсус-прогноз аналитиков Eastmoney (东财) по A-share тикеру.
        Только A-share, код без биржевого суффикса (напр. "601939").
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код тикера без биржевого суффикса. Для A-share — 6 цифр (напр.
            "601939"). Для HK — код без .HK, ведущие нули не обязательны
            (напр. "939" эквивалентно "00939").
          schema:
            type: string
        - name: include_past
          in: query
          required: false
          description: >-
            По умолчанию false — возвращаются только прогнозы на текущий год
            и последующие, уже прошедшие годы отфильтровываются. true — вернуть
            всё, включая устаревшие периоды; запрашивай только если пользователь
            явно просит исторические прогнозы.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >-
            Прогноз консенсуса аналитиков либо found:false, если по данному
            тикеру нет покрытия у этого источника
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                    description: >-
                      Момент получения данных из источника (ISO 8601, UTC).
                      Цитируй его как дату данных; никогда не подставляй
                      прогнозные цифры по памяти модели.
                  dropped_past_periods:
                    type: array
                    description: >-
                      Периоды, отброшенные как уже прошедшие (по умолчанию
                      возвращаются только прогнозы на текущий год и позже).
                    items:
                      type: string
                  found:
                    type: boolean
                  note:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /forecast/ths/{symbol}:
    get:
      operationId: getForecastThs
      summary: >-
        Консенсус-прогноз аналитиков Tonghuashun/同花顺 по A-share тикеру.
        Только A-share, код без биржевого суффикса (напр. "601939").
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код тикера без биржевого суффикса. Для A-share — 6 цифр (напр.
            "601939"). Для HK — код без .HK, ведущие нули не обязательны
            (напр. "939" эквивалентно "00939").
          schema:
            type: string
        - name: indicator
          in: query
          required: false
          description: >-
            Раздел прогноза THS. Один из: "预测年报每股收益",
            "预测年报净利润", "业绩预测详表-机构", "业绩预测详表-详细指标预测"
            (по умолчанию). Значение должно совпадать ТОЧНО, иначе будет
            пустой результат.
          schema:
            type: string
            default: 业绩预测详表-详细指标预测
        - name: include_past
          in: query
          required: false
          description: >-
            По умолчанию false — возвращаются только прогнозы на текущий год
            и последующие, уже прошедшие годы отфильтровываются. true — вернуть
            всё, включая устаревшие периоды; запрашивай только если пользователь
            явно просит исторические прогнозы.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >-
            Прогноз консенсуса аналитиков либо found:false, если по данному
            тикеру нет покрытия у этого источника
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                    description: >-
                      Момент получения данных из источника (ISO 8601, UTC).
                      Цитируй его как дату данных; никогда не подставляй
                      прогнозные цифры по памяти модели.
                  dropped_past_periods:
                    type: array
                    description: >-
                      Периоды, отброшенные как уже прошедшие (по умолчанию
                      возвращаются только прогнозы на текущий год и позже).
                    items:
                      type: string
                  found:
                    type: boolean
                  note:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
        "400":
          description: Неверное значение indicator
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /forecast/hk/{symbol}:
    get:
      operationId: getForecastHk
      summary: >-
        Консенсус-прогноз аналитиков ET Net/经济通 по гонконгскому тикеру
        (основной источник прогнозов для HK-бумаг, напр. BOC/CCB/CITIC).
        Код без суффикса .HK, ведущие нули не обязательны (напр. "939",
        "3988", "267").
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код тикера без биржевого суффикса. Для A-share — 6 цифр (напр.
            "601939"). Для HK — код без .HK, ведущие нули не обязательны
            (напр. "939" эквивалентно "00939").
          schema:
            type: string
        - name: indicator
          in: query
          required: false
          description: >-
            Раздел прогноза ET Net. Один из: "评级总览",
            "去年度业绩表现", "综合盈利预测" (по умолчанию), "盈利预测概览".
          schema:
            type: string
            default: 综合盈利预测
        - name: include_past
          in: query
          required: false
          description: >-
            По умолчанию false — возвращаются только прогнозы на текущий год
            и последующие, уже прошедшие годы отфильтровываются. true — вернуть
            всё, включая устаревшие периоды; запрашивай только если пользователь
            явно просит исторические прогнозы.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >-
            Прогноз консенсуса аналитиков либо found:false, если по данному
            тикеру нет покрытия у этого источника
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                    description: >-
                      Момент получения данных из источника (ISO 8601, UTC).
                      Цитируй его как дату данных; никогда не подставляй
                      прогнозные цифры по памяти модели.
                  dropped_past_periods:
                    type: array
                    description: >-
                      Периоды, отброшенные как уже прошедшие (по умолчанию
                      возвращаются только прогнозы на текущий год и позже).
                    items:
                      type: string
                  found:
                    type: boolean
                  note:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
        "400":
          description: Неверное значение indicator
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /forecast/hk_brokers/{symbol}:
    get:
      operationId: getForecastHkBrokers
      summary: >-
        Индивидуальные прогнозы брокеров по гонконгской акции (ET Net): кто,
        когда и какой именно прогноз дал.
      description: >-
        Возвращает по каждой строке брокера, дату обновления, финансовый год,
        чистую прибыль, EPS, DPS, рейтинг и целевую цену. Используй его
        вместо /forecast/hk везде, где важно происхождение прогноза, а не
        обезличенный консенсус.
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код HKEX без .HK, ведущие нули не обязательны (напр. "1810",
            "01810").
          schema:
            type: string
        - name: max_age_days
          in: query
          required: false
          description: >-
            Базовое окно свежести прогнозов в днях (по умолчанию 30). Если
            уникальных брокеров в этом окне меньше min_brokers, сервис сам
            расширяет окно и возвращает фактически применённое в
            window_used_days.
          schema:
            type: integer
            default: 30
        - name: min_brokers
          in: query
          required: false
          description: >-
            Сколько уникальных брокеров должно набраться в окне (по умолчанию
            10). Считаются именно брокеры, а не строки: один дом даёт по
            строке на каждый финансовый год.
          schema:
            type: integer
            default: 10
        - name: include_past
          in: query
          required: false
          description: >-
            По умолчанию false — прогнозы на уже прошедшие финансовые годы
            отфильтровываются.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >-
            Таблица индивидуальных прогнозов брокеров с разметкой выбросов
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                  found:
                    type: boolean
                  window_used_days:
                    description: >-
                      Фактически применённое окно свежести в днях. null —
                      окно не ограничивалось, взято всё доступное. Всегда
                      сообщай это значение пользователю.
                  requested_max_age_days:
                    type: integer
                  min_brokers:
                    type: integer
                  brokers_count:
                    type: integer
                    description: Уникальных брокеров в выдаче
                  rows_count:
                    type: integer
                  coverage_exhausted:
                    type: boolean
                  scale_corrections:
                    type: array
                    description: >-
                      Строки, у которых масштаб не совпадал с остальными
                      прогнозами того же года и был приведён к общему. В data
                      лежат УЖЕ исправленные значения. Упомяни поправку рядом
                      с консенсусом: какой дом, какое поле, на что поделено.
                    items:
                      type: object
                      properties:
                        broker:
                          type: string
                        fiscal_year:
                          type: string
                        field:
                          type: string
                        divided_by:
                          type: number
                  scale_corrections_note:
                    type: string
                    description: >-
                      true — покрытия не хватает даже без ограничения по дате
                      (аналитиков по бумаге физически меньше min_brokers).
                      Это не ошибка: данные валидны, но консенсус узкий, и об
                      этом нужно прямо предупредить пользователя.
                  dropped_past_periods:
                    type: array
                    items:
                      type: string
                  data:
                    type: array
                    description: >-
                      Строки: 财政年度 (FY), 纯利/亏损 (чистая прибыль),
                      每股盈利 (EPS), 每股派息 (DPS), 证券商 (брокер),
                      评级 (рейтинг), 目标价 (целевая цена), 更新日期 (дата
                      прогноза), is_outlier (признак выброса).
                    items:
                      type: object
        "502":
          description: Ошибка при обращении к источнику данных (AKShare)
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /forecast/revenue/{symbol}:
    get:
      operationId: getForecastRevenue
      summary: >-
        Консенсус-прогноз ВЫРУЧКИ по акции. Единственный источник выручки в
        сервисе — у ET Net и AASTOCKS её нет вовсе.
      description: >-
        Источник — Yahoo Finance (консенсус S&P Global / TipRanks). Горизонт
        ровно два года: текущий финансовый год и следующий. Дальше источника
        не существует — оставляй пустым, не экстраполируй. Выручка и EPS
        выражены в financial_currency, НЕ в trading_currency: у 9988 это
        CNY против HKD.
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код без суффикса биржи. Гонконг — "9988", "0700"; A-акции —
            шестизначный "600519". Вид кода определяется автоматически.
          schema:
            type: string
        - name: market
          in: query
          required: false
          description: >-
            "hk" или "a" — задавать только если автоопределение по виду кода
            ошиблось.
          schema:
            type: string
            enum: ["hk", "a"]
      responses:
        "200":
          description: Консенсус по выручке и EPS на два ближайших финансовых года
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  yahoo_symbol:
                    type: string
                  found:
                    type: boolean
                    description: >-
                      false — у источника нет такого тикера либо нет оценок
                      аналитиков. Это нормальный ответ, а не сбой.
                  financial_currency:
                    type: string
                    description: Валюта отчётности — в ней выражены revenue и eps.
                  trading_currency:
                    type: string
                    description: >-
                      Валюта торгов на бирже. НЕ используй её для выручки.
                  currency_note:
                    type: string
                  horizon_note:
                    type: string
                  cached:
                    type: boolean
                  cache_age_seconds:
                    type: integer
                  today:
                    type: string
                  retrieved_at:
                    type: string
                  periods:
                    type: array
                    description: >-
                      Только годовые горизонты: "0y" — текущий финансовый год,
                      "+1y" — следующий.
                    items:
                      type: object
                      properties:
                        period:
                          type: string
                        fiscal_year_end:
                          type: string
                          description: Дата окончания финансового года, напр. "2027-03-31".
                        revenue:
                          type: object
                          properties:
                            avg:
                              type: number
                            low:
                              type: number
                            high:
                              type: number
                            analysts:
                              type: integer
                              description: >-
                                Сколько аналитиков в консенсусе. Указывай это
                                число рядом со значением: консенсус по двум
                                домам и по сорока — не одно и то же.
                        eps:
                          type: object
                          properties:
                            avg:
                              type: number
                            low:
                              type: number
                            high:
                              type: number
                            analysts:
                              type: integer
        "429":
          description: >-
            Исчерпан суточный лимит обращений к источнику. Уже запрошенные
            тикеры продолжают отдаваться из кэша.
          content:
            application/json:
              schema:
                type: object
        "502":
          description: Ошибка при обращении к источнику данных
          content:
            application/json:
              schema:
                type: object
  /forecast/eps_scale/{symbol}:
    get:
      operationId: getForecastEpsScale
      summary: >-
        Во сколько раз делить EPS/DPS из ET Net, чтобы получить целые единицы
        валюты отчётности.
      description: >-
        ET Net отдаёт EPS/DPS в сотых долях валюты: 511.75 означает 5.12.
        Множитель не угадывается, а вычисляется сверкой с консенсусом Yahoo
        по совпавшим финансовым годам (см. evidence). Вызывай перед
        подстановкой прогнозных EPS/DPS. При divisor=null или
        confidence="low" не подставляй значение молча.
      parameters:
        - name: symbol
          in: path
          required: true
          description: Код HKEX без .HK, ведущие нули не обязательны.
          schema:
            type: string
      responses:
        "200":
          description: Определённый множитель с доказательствами
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  divisor:
                    type: number
                    description: >-
                      На это число надо делить EPS/DPS из ET Net. null —
                      определить не удалось.
                  confidence:
                    type: string
                    enum: ["high", "medium", "low", "none"]
                  reference_source:
                    type: string
                  median_ratio:
                    type: number
                  drift_from_power_of_ten:
                    type: number
                  note:
                    type: string
                  today:
                    type: string
                  retrieved_at:
                    type: string
                  evidence:
                    type: array
                    items:
                      type: object
                      properties:
                        fiscal_year:
                          type: integer
                        etnet_eps:
                          type: number
                        yahoo_eps:
                          type: number
                        ratio:
                          type: number
        "502":
          description: Ошибка при обращении к источнику данных
          content:
            application/json:
              schema:
                type: object
  /forecast/bvps/{symbol}:
    get:
      operationId: getForecastBvps
      summary: >-
        Прогнозный BVPS расчётом clean surplus на основе консенсусных EPS и
        DPS. Прямого источника прогнозного BVPS не существует.
      description: >-
        Считает BVPS(t+1) = BVPS(t) + EPS(t+1) - DPS(t+1); EPS и DPS из ET
        Net, приведённые к целым единицам валюты. Это РАСЧЁТ, а не прогноз
        аналитика: не учитывает байбеки, поэтому у эмитентов с крупными
        выкупами завышает. Помечай ячейки как расчётные, переноси в сноску
        caveat и confidence.
      parameters:
        - name: symbol
          in: path
          required: true
          description: Код HKEX без .HK, ведущие нули не обязательны.
          schema:
            type: string
        - name: last_bvps
          in: query
          required: true
          description: >-
            Последний ФАКТИЧЕСКИЙ BVPS, который ты уже посчитал по правилу 7
            (капитал обыкновенных акционеров / число акций). Передаётся
            снаружи, чтобы в таблице не оказалось двух разных BVPS.
          schema:
            type: number
        - name: last_bvps_year
          in: query
          required: true
          description: Финансовый год этого фактического BVPS.
          schema:
            type: integer
        - name: apply_eps_scale
          in: query
          required: false
          description: >-
            По умолчанию true — EPS/DPS делятся на автоопределённый множитель
            (см. getForecastEpsScale). Отключать только для отладки.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Расчётный BVPS по годам
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  found:
                    type: boolean
                  method:
                    type: string
                  formula:
                    type: string
                  base_bvps:
                    type: number
                  base_year:
                    type: integer
                  caveat:
                    type: string
                    description: >-
                      Ограничения метода. Обязательно переноси в сноску к
                      таблице.
                  scale_warning:
                    type: string
                    description: >-
                      Присутствует, только если масштаб EPS/DPS подтвердить не
                      удалось. Тогда результат требует ручной проверки.
                  eps_scale:
                    type: object
                  today:
                    type: string
                  retrieved_at:
                    type: string
                  years:
                    type: array
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                        bvps:
                          type: number
                        eps_used:
                          type: number
                        dps_used:
                          type: number
                        dps_assumed_zero:
                          type: boolean
                          description: >-
                            true — прогноза дивиденда на этот год нет и он
                            принят нулевым, из-за чего BVPS завышен.
                        steps_from_actual:
                          type: integer
                        confidence:
                          type: string
                          enum: ["high", "medium", "low"]
        "502":
          description: Ошибка при обращении к источнику данных
          content:
            application/json:
              schema:
                type: object
  /forecast/fx_forward:
    get:
      operationId: getForecastFxForward
      summary: >-
        Будущий курс CNY/HKD — форвард, вменённый рынком (спот CFETS плюс
        своп-пункты), а не прогноз аналитика.
      description: >-
        Цена, по которой рынок готов обменять валюту в будущем, по срокам от
        недели до года. Горизонт максимум 1 год — дальше CFETS не котирует,
        такие годы оставляй пустыми. Перед использованием проверь
        cross_check.agrees: false означает, что конвенция источника
        изменилась и цифру брать нельзя.
      responses:
        "200":
          description: Форвардные курсы по срокам
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  pair:
                    type: string
                  basis:
                    type: string
                  spot_hkd_cny:
                    type: number
                  spot_cny_hkd:
                    type: number
                  swap_pip:
                    type: number
                  max_horizon:
                    type: string
                  horizon_note:
                    type: string
                  today:
                    type: string
                  retrieved_at:
                    type: string
                  cross_check:
                    type: object
                    properties:
                      available:
                        type: boolean
                      implied_usd_hkd_spot:
                        type: number
                      peg_band_ok:
                        type: boolean
                      forward_direct:
                        type: number
                      forward_via_usd_peg:
                        type: number
                      deviation:
                        type: number
                      agrees:
                        type: boolean
                      warning:
                        type: string
                  tenors:
                    type: array
                    items:
                      type: object
                      properties:
                        tenor:
                          type: string
                          description: >-
                            Срок котировки — "1周", "1月", "3月", "6月", "9月"
                            или "1年".
                        approx_days:
                          type: integer
                        swap_points_raw:
                          type: number
                        hkd_cny:
                          type: number
                        cny_hkd:
                          type: number
                          description: >-
                            Курс 1 CNY в HKD — именно он нужен для строки
                            "Курс 1 CNY в HKD" в сводной таблице.
        "502":
          description: Ошибка при обращении к источнику данных
          content:
            application/json:
              schema:
                type: object
  /forecast/aggregate/{symbol}:
    get:
      operationId: getForecastAggregate
      summary: >-
        Собирает все применимые источники прогноза консенсуса по одному
        тикеру за один вызов: Eastmoney и Tonghuashun — если symbol похож
        на A-share (6 цифр); ET Net — если передан hk_symbol, либо сам
        symbol гонконгский.
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код тикера без биржевого суффикса. Для A-share — 6 цифр (напр.
            "601939"). Для HK — код без .HK, ведущие нули не обязательны
            (напр. "939" эквивалентно "00939").
          schema:
            type: string
        - name: hk_symbol
          in: query
          required: false
          description: >-
            Гонконгский код тикера, если он отличается от symbol (напр.
            когда symbol — это A-share код, а нужен ещё и HK-прогноз по
            двойному листингу A+H).
          schema:
            type: string
        - name: include_past
          in: query
          required: false
          description: >-
            По умолчанию false — возвращаются только прогнозы на текущий год
            и последующие, уже прошедшие годы отфильтровываются. true — вернуть
            всё, включая устаревшие периоды; запрашивай только если пользователь
            явно просит исторические прогнозы.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >-
            Объект с ключом sources, где для каждого применимого источника
            (eastmoney / 10jqka / etnet) — свой ответ в формате как у
            соответствующего одиночного эндпоинта, либо {"error": "..."}
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                  sources:
                    type: object
        "400":
          description: Не удалось определить ни один применимый источник
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
  /consensus/aastocks/{symbol}:
    get:
      operationId: getConsensusAastocks
      summary: >-
        Свежие пересмотры прогнозов брокеров по HK-тикеру из research-заметок
        AASTOCKS.com: кто и как поменял рейтинг и целевую цену.
      description: >-
        Это события пересмотра, а не таблица абсолютных прогнозов по годам —
        дополняет /forecast/hk_brokers, а не заменяет его. Источник
        троттлится (кэш на тикер плюс суточный потолок обращений): вызывай
        только по прямому вопросу об изменениях прогнозов, а не при каждом
        запросе прогнозных данных.
      parameters:
        - name: symbol
          in: path
          required: true
          description: >-
            Код тикера HKEX без суффикса .HK, ведущие нули не обязательны
            (напр. "939" эквивалентно "00939").
          schema:
            type: string
      responses:
        "200":
          description: >-
            Список research-заметок с брокером, рейтингом и target price
            (эвристическое извлечение из свободного текста — сверяйте с
            полями headline/raw_snippet), либо found:false, если подходящих
            заметок не найдено.
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  symbol:
                    type: string
                  today:
                    type: string
                    description: >-
                      Сегодняшняя дата по часам сервера (YYYY-MM-DD). Считай
                      её текущей датой, а не ту, что модель помнит сама.
                  retrieved_at:
                    type: string
                    description: >-
                      Момент получения данных из источника (ISO 8601, UTC).
                      Цитируй его как дату данных; никогда не подставляй
                      прогнозные цифры по памяти модели.
                  found:
                    type: boolean
                  note:
                    type: string
                  cached:
                    type: boolean
                    description: >-
                      true — ответ отдан из кэша, живого обращения к AASTOCKS
                      не было. Датой данных в этом случае считай retrieved_at,
                      а не текущий момент.
                  cache_age_seconds:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broker:
                          type: string
                        headline:
                          type: string
                        rating:
                          type: string
                        target_price_old:
                          type: number
                        target_price_new:
                          type: number
                        target_price_currency:
                          type: string
                        date:
                          type: string
                        source_url:
                          type: string
                        raw_snippet:
                          type: string
        "429":
          description: >-
            Суточный лимит обращений к AASTOCKS исчерпан. Не повторяй запрос
            и не пытайся обойти лимит: скажи пользователю, что источник
            пересмотров сегодня недоступен, и работай по /forecast/hk_brokers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  error_type:
                    type: string
                  message:
                    type: string
                  retryable:
                    type: boolean
        "502":
          description: Сбой апстрима (сеть) или изменение структуры страницы AASTOCKS
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  error_type:
                    type: string
                  endpoint:
                    type: string
                  message:
                    type: string
                  retryable:
                    type: boolean
components:
  schemas: {}
